@media screen and (min-width: 1200px){

    :root{
        --backgroungHaF1: #283e06;
        --backgroungHaF2: #2f4f5e;
        --title: #ffffff;
        --subTitle1: #283e06;
        --subTitle2: #2f4f5e;
        --text1: #000000;
        --text2: #ffffff;
    }

    /* HEADER */

    body{
        max-width: 90rem;
        margin: 0 auto;
        padding: 0;
    }

    header { 
        display: grid;
        grid-template-columns: .1fr 1fr 1fr;
        background-color: var(--backgroungHaF2);
        position: relative;
    }

    header img{
        width: 150px;
        height: auto;
        margin-left: 5rem;
    }
    
    .header_right{
        grid-column: 3/4;
    }

    .header_left h1{
        top: 35px;
        left: 280px;
        font-size: 2.5rem;
    }

    .header_left p {
        top: 90px;
        left: 280px;
        font-size: 1.2rem;
    }

    .navigation{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .navigation a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
        width: 100%;
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .navigation a.active {
        border-bottom: 10px solid white;
    }

    #menu{
        display: none;
    }

    /* HEADER */

    .hero{
        background-color: #f3f3f3;
        overflow: hidden;
    }

    .phraseContainer{
        font-size: 1.7rem;
    }

    .phrase{
        font-size: 2rem;
    }

    .authorPhrase{
        margin-top: .8rem;
    }

    .customer {
        grid-template-areas: 
        "deliveryImg deliveryText creditCardImg creditCardText guaranteeImg guaranteeText";
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .deliveryImg, .creditCardImg, .guaranteeImg {
        width: 80px;
        height: auto;
    }

    .deliveryText, .creditCardText, .guaranteeText {
        font-size: 1.2rem;
        padding: 1rem;
        text-align: left;
    }

    .blackFriday{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .blackFriday h2{
        grid-column: 1/4;
    }

    .blackFriday img{
        width: 270px;
    }
    
    .blackFriday p{
        font-size: 1.5rem;
        align-items: center;
    }
    
    .model{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .model h2{
        grid-column: 1/4;
    }

    .model img{
        width: 270px;
    }
    
    .model img { 
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .model button{
        transition: transform 0.3s ease;
        font-size: 1.3rem;
    }

    .model section:hover img{
        transform: scale(1.1);
    }

    .model section:hover button { 
        transform: translateX(-50%) scale(1.1);
    }

    .model section{
        overflow: hidden;
    }
    
    .ctaHome{
        width: 30%;
        height: 90px;
        font-size: 2rem;
    }

    /* STORE */

    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 4rem;
    }

    .menu button{
        width: 50%;
        justify-self: center;
    }

    #clothesContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }

    #clothesContainer img{
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 400px;
        transition: transform 0.3s ease;
        margin-bottom: .9rem;
    }

    #clothesContainer img:hover { 
        transform: scale(1.05); 
    }

    /* JOIN */

    .joinContainer{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        align-items: center;
        padding: 2rem;
        padding-right: 4rem;
    }

    form{
        grid-column: 1/2;
    }

    .purpose{
        grid-column: 2/3;
    }

    /* JOIN */


    /* STORE */
    
    /* MODAL */

    footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: 1.1rem;
        text-align: center;
        padding: 1rem;
    }

    .info_left{
        grid-column: 1/2;
    }
    
    .info_right{
        grid-column: 3/4;
        grid-row: 1;
    }

    .socialMedia_images{
        display: flex;
        grid-column: 2/3;
        justify-content: center;
    }

    footer p{
        padding: .2rem;
    }
    
}