@media screen and (min-width: 56.25rem){

    :root{
        --backgroungHaF1: #283e06;
        --backgroungHaF2: #2f4f5e;
        --title: #ffffff;
        --subTitle1: #283e06;
        --subTitle2: #2f4f5e;
        --text1: #000000;
        --text2: #ffffff;
    }

    header { 
        display: grid;
        grid-template-columns: .1fr 1fr 1fr;
        background-color: var(--backgroungHaF2);
    }

    header img{
        width: 120px;
        align-items: center;
        align-self: center;
        justify-self: center;
    }

    .header_left h1{
        position: relative;
        top: -1px;
        left: 20px;
        right: 200px;
    }

    .header_left p {
        position: relative;
        top: -12px;
        left: 17px;
    }

    .navigation{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .navigation a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        width: 100%;
        padding: 1.5rem;
    }

    .navigation a.active {
        border-bottom: 10px solid white;
    }

    #menu{
        display: none;
    }
}