:root{
    --backgroungHaF1: #283e06;
    --backgroungHaF2: #2f4f5e;
    --title: #ffffff;
    --subTitle1: #283e06;
    --subTitle2: #2f4f5e;
    --text1: #000000;
    --text2: #ffffff;
}

*{
    padding: 0;
    box-sizing: border-box;
    max-width: 90rem;
    margin: 0 auto;
}

body{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

.sitename{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

h1, h2{
    font-family: "Unbounded", sans-serif;
    background-color: var(--backgroungHaF2);
    color: white;
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.hero img{
    width: 100%;
    display: block;
    filter: brightness(95%);
    margin-top: 2rem;
}