@media screen and (min-width: 56.25rem){

    :root{
        --backgroungHaF1: #283e06;
        --backgroungHaF2: #2f4f5e;
        --title: #ffffff;
        --subTitle1: #283e06;
        --subTitle2: #2f4f5e;
        --text1: #000000;
        --text2: #ffffff;
    }

    /* HEADER */

    header { 
        display: grid;
        grid-template-columns: .1fr 1fr 1fr;
        background-color: var(--backgroungHaF2);
        position: relative;
    }

    header img{
        width: 150px;
        margin-left: 5rem;
    }
    
    .header_right{
        grid-column: 3/4;
    }

    .header_left h1{
        top: 35px;
        left: 280px;
        font-size: 2.5rem;
    }

    .header_left p {
        top: 90px;
        left: 280px;
        font-size: 1.2rem;
    }

    .navigation{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .navigation a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
        width: 100%;
        padding: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .navigation a.active {
        border-bottom: 10px solid white;
    }

    #menu{
        display: none;
    }

    /* HEADER */

    .phraseContainer{
        font-size: 1.7rem;
    }

    .customer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "deliveryImg deliveryText creditCardImg creditCardText guaranteeImg guaranteeText";
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .deliveryImg, .creditCardImg, .guaranteeImg {
        width: 30%;
        height: auto;
    }

    .deliveryText, .creditCardText, .guaranteeText {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .blackFriday{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .blackFriday h2{
        grid-column: 1/4;
    }

    .blackFriday img{
        width: 270px;
    }
    
    .blackFriday p{
        font-size: 1.5rem;
        align-items: center;
    }
    
    .model{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .model h2{
        grid-column: 1/4;
    }

    .model img{
        width: 270px;
    }
    
    .model img { 
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .model button{
        transition: transform 0.3s ease;
    }

    .model section:hover img{
        transform: scale(1.1);
    }

    .model section:hover button { 
        transform: translateX(-50%) scale(1.1);
    }

    .model section{
        overflow: hidden;
    }
    
    .ctaHome{
        width: 30%;
        height: 90px;
        font-weight: bold;
        font-size: 2rem;
        justify-content: center;
    }
    
    /* MODAL */

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        align-items: center;
        margin-top: 1rem;
    }

    .info_left h3, .info_left p{
        padding: .2rem;
        padding-left: 5rem;
        align-items: center;
    }

    .socialMedia_images{
        text-align: center;
    }

    .socialMedia_images img{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .info_right{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        text-align: right;
        padding-right: 5rem;
    }

    .info_right p{
        padding: .2rem;
    }
    
}