@media screen and (min-width: 56.25rem){
    :root{
        --backgroundColor: rgb(0, 69, 144);
        --navBackgroundColor: rgba(0, 128, 0, 0.712);
        --titleColor: rgb(255, 255, 255);
        --navElementsColor: rgb(255, 255, 255);
    }

    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    body{
		max-width: 1300px;
        background-color: rgb(228, 244, 253);
    }

    /* HEADER */

    header { 
        display: grid;
        grid-template-columns: .1fr 1fr 1fr;
        background-color: var(--backgroundColor);
    }

    .header_left h1{
        position: relative;
        top: -1px;
        left: 20px;
        right: 200px;
    }

    .header_left p {
        position: relative;
        top: -12px;
        left: 17px;
    }

    .navigation{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .navigation a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        width: 100%;
        padding: 1.5rem;
    }

    .navigation a.active {
        border-bottom: 10px solid white;
    }

    #menu{
        display: none;
    }

    /* HEADER */

    /* MAIN */

    /* GRID */

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    
    /* GRID */

    /* MAIN */

    /* FOOTER */

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--backgroundColor);
        color: white;
        padding: 1rem;
        align-items: center;
    }

    .info_left h3, .info_left p{
        padding: .2rem;
        padding-left: 5rem;
        justify-content: center;
    }

    .socialMedia_images{
        text-align: center;
    }

    .socialMedia_images img{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .info_right{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        text-align: right;
        padding-right: 5rem;
    }

    .info_right p{
        padding: .2rem;
    }
}