@media screen and (max-width: 56.24rem){
    :root{
        --backgroundColor: rgb(0, 69, 144);
        --navBackgroundColor: rgba(0, 128, 0, 0.712);
        --titleColor: rgb(255, 255, 255);
        --navElementsColor: rgb(255, 255, 255);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Raleway", serif;
        font-weight: 400;
		margin: 0 auto;
        background-color: rgb(228, 244, 253);
    }

    /* HEADER */

    /* .main_Header { 
        display: grid;
        grid-template-columns: .1fr 1fr 1fr;
        background-color: var(--backgroundColor);
    } */

    header{
        justify-content: center;
        background-color: var(--backgroundColor);
    }

    .header_left{
        align-items: center;
        align-content: center;
        padding-left: 1rem;
        color: white;
    }

    .header_left h1{
        font-size: 2.5rem;
        padding-bottom: .5rem;
        margin-bottom: 0;
        margin-top: .5rem;
        position: absolute;
        top: 20px;
        left: 160px;
    }

    .header_left p {
        position: absolute;
        top: 70px;
        left: 150px;
    }

    /* .header_left p {
        text-align: center;
    } */

    .header_right{
        align-items: center;
        align-content: end;
    }

    .navigation{
        display: none;
    }

    .navigation.open{
        display: flex; /* Mostrar navegación cuando el menú está abierto */ 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        position: relative; 
        top: 0; /* Ajustar según sea necesario */ 
        width: 100%; 
        background-color: rgb(22, 99, 182);
        list-style: none;
    }

    .navigation a{
        display: block;
        padding: 1rem;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
    }

    .navigation li{
        padding: 0.5rem 0;
    }

    .navigation a:hover{
        background-color: rgba(0, 0, 0, 0.3);
        color: rgb(255, 255, 255);
    }

    #menu {
        font-size: 2.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        right: 20px;
        top: 35px;
        padding: 0 0 30px 0;
        text-decoration: none;
    }

    #menu::before {
        content: "☰";
        color: rgb(255, 255, 255);
    }

    #menu.open::before {
        content: "X";
    }

    nav.open a {
        display: flex;
        flex-direction: column;
    }

    a {
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
    }

    /* MENU */

    /* HEADER */

    /* FOOTER */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--backgroundColor);
        color: white;
        padding: 1rem;
    }

    .info_left h3, .info_left p{
        padding: .2rem;
        justify-content: center;
    }

    .socialMedia_images{
        text-align: center;
    }

    .socialMedia_images img{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .info_right{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }

    .info_right p{
        padding: .2rem;
    }
    /* FOOTER */
}