/* @media screen and (max-width: 56.24rem){ */
    :root{
        --backgroundColor: rgb(0, 69, 144);
        --titleColor: rgb(255, 255, 255);
        --navElementsColor: rgb(255, 255, 255);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Raleway", serif;
        font-weight: 400;
		margin: 0 auto;
        background-color: rgb(228, 244, 253);
    }

    /* HEADER */

    header{
        justify-content: center;
        background-color: var(--backgroundColor);
    }

    .header_left{
        align-items: center;
        align-content: center;
        padding-left: 1rem;
        color: white;
    }

    .header_left h1{
        font-size: 2.5rem;
        padding-bottom: .5rem;
        margin-bottom: 0;
        margin-top: .5rem;
        position: absolute;
        top: 2px;
        left: 92px;
    }

    header img{
        width: 80px;
        margin-left: .5rem;
    }

    .header_left p {
        position: absolute;
        top: 50px;
        left: 90px;
    }

    .header_right{
        align-items: center;
        align-content: end;
    }

    .navigation{
        display: none;
    }

    .navigation.open{
        display: flex; /* Mostrar navegación cuando el menú está abierto */ 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        position: relative; 
        top: 0; /* Ajustar según sea necesario */ 
        width: 100%; 
        background-color: rgb(22, 99, 182);
        list-style: none;
    }

    .navigation a{
        display: block;
        padding: 1rem;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
    }

    .navigation a:hover{
        background-color: rgba(0, 0, 0, 0.3);
        color: rgb(255, 255, 255);
    }

    #menu {
        font-size: 2.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        right: 8px;
        top: 18px;
        padding: 0 0 30px 0;
        text-decoration: none;
    }

    #menu::before {
        content: "☰";
        color: rgb(255, 255, 255);
    }

    #menu.open::before {
        content: "X";
    }

    nav.open a {
        display: flex;
        flex-direction: column;
    }

    a {
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
    }

    /* MENU */

    /* HEADER */

    /* MAIN DIRECTORY */

    /* GRID */

    .grid{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .grid section{
        background-color: rgb(134, 187, 243);
        text-align: center;
        min-height: 350px;
    }

    .grid h2, .list h2{
        color: white;
        background-color: var(--backgroundColor);
        text-align: center;
        padding: 1rem;
    }

    section p, section a{
        padding: .5rem;
        font-size: 1.2rem;
    }

    section a{
        color: navy;
        text-decoration: underline;
    }
    
    section img{
        padding: .5rem;
        padding-top: 1rem;
    }

    .menu { 
        display: flex; 
        justify-content: center;
        gap: 1rem;
        margin: 2rem;
    }

    section{
        border: 1px solid grey;
        border-radius: 15px;
    }

    /* GRID */

    /* LIST */

    .list{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .list section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #e7f6f8;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .list img{
        display: none;
    }

    .list section:nth-child(even) {
        background-color: rgb(134, 187, 243);
    }

    .list h2, .list p, .list a {
        display: inline;
        margin: 0 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .list h2{
        background-color: transparent;
        color: black;
    }

    .list a {
        color: var(--backgroundColor);
        text-decoration: underline;
    }

    /* LIST */

    /* MAIN DIRECTORY */

    /* MAIN HOMEPAGE */

    .hero{
        position: relative;
        width: 100%;
        height: auto;
    }

    .hero img{
        width: 100%;
        height: auto;
        display: block;
        filter: brightness(65%);
    }

    .callToAction{
        position: absolute;
        bottom: 15%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        padding: 1vw 2vw;
        background-color: white;
        color: var(--backgroundColor);
        font-weight: 600;
        border: none;
        opacity: 0.8;
        pointer-events: auto;
    }

    .homeTitle{
        padding: 1rem;
        margin: 0;
    }

    .home{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        min-height: 25rem;
    }

    .events{
        background-color: rgb(134, 187, 243);
        min-height: 25rem;
        margin-bottom: 2rem;
    }
    
    .weatherForecast{
        background-color: rgb(134, 187, 243);
        margin-bottom: 2rem;
    }

    .weatherForecast h2, .events h2{ 
        text-align: center;
        padding: .5rem;
        background-color: var(--backgroundColor);
        color: white;
    }

    .currentWeather{
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* align-items: center; */
        background-color: rgb(134, 187, 243);
        margin-bottom: 2rem;
    }

    .currentWeather h2{
        grid-column: 1/-1;
        text-align: center;
        padding: .5rem;
        background-color: var(--backgroundColor);
        color: white;
        max-height: 44px;
    }

    .currentWeather img{
        display: flex;
        justify-self: center;
        margin-top: 2rem;
    }

    .weatherData{
        padding: .5rem;
    }

    .weatherData p {
        padding: .7rem;
        margin-left: 1rem;
    }

    .weatherForecast p{
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        font-size: 1.2rem;
    }

    /* SPOTLIGHT */

    .spotlight{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }

    .spotlight section{
        background-color: rgb(134, 187, 243);
        text-align: center;
        border: none;
    }

    .spotlight h2{
        background-color: var(--backgroundColor);
        width: 100%;
        color: white;
        padding: 1rem;
    }

    .spotlight p{
        padding: 1rem;
    }

    .tagline{
        font-weight: 800;
    }

    /* SPOTLIGHT */

    /* MAIN HOMEPAGE */

    /* MAIN JOIN */

    .joinContainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 600px;
        width: 100%;
        margin: auto;
    }

    form h2{
        text-align: center;
        padding: 1rem;
        background-color: var(--backgroundColor);
        color: white;
        border: 3px solid rgb(255, 255, 255);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    form label{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-family: "Raleway", serif;
        font-weight: 400;
        border-right: 3px solid rgb(255, 255, 255);
        border-left: 3px solid rgb(255, 255, 255);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    }   

    form input:required,
    form select:required:invalid,
    form textarea:required:invalid,
    form input[type="text"]:required:invalid,
    form input[type="email"]:required:invalid,
    form input[type="tel"]:required:invalid,
    form input[type="hidden"]:required:invalid {
        border-bottom: solid 4px red;
    }

    form input:required:valid,
    form select:required:valid,
    form input[type="text"]:required:valid,
    form input[type="email"]:required:valid,
    form input[type="tel"]:required:valid,
    form input[type="hidden"]:required:valid{
        border-bottom: solid 4px green;
    }

    input[type="submit"]{
        padding: 1rem;
        background-color: var(--backgroundColor);
        color: white;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        border: 3px solid white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .membershipCards{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
    }

    .membershipCards div{
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 300px;
    }

    .np{
        background-color: black;
        color: white;
        padding: 1rem;
        border-radius: 10px;
    }

    .npInfo{
        background-color: black;
        border: 3px solid white;
        font-weight: bold;
        margin-top: 1rem;
        color: white;
        padding: .7rem;
        border-radius: 10px;
    }

    .bronze{
        background-color: rgb(205, 127, 50);
        color: white;
        padding: 1rem;
        border-radius: 10px;
    }

    .bronzeInfo{
        background-color: rgb(205, 127, 50);
        border: 3px solid white;
        font-weight: bold;
        margin-top: 1rem;
        color: white;
        padding: .7rem;
        border-radius: 10px;
    }

    .silver{
        background-color: silver;
        color: black;
        padding: 1rem;
        border-radius: 10px;
    }

    .silverInfo{
        background-color: silver;
        border: 3px solid black;
        font-weight: bold;
        margin-top: 1rem;
        color: black;
        padding: .7rem;
        border-radius: 10px;
    }

    .gold{
        background-color: gold;
        color: black;
        padding: 1rem;
        border-radius: 10px;
    }

    .goldInfo{
        background-color: gold;
        border: 3px solid black;
        font-weight: bold;
        margin-top: 1rem;
        color: black;
        padding: .7rem;
        border-radius: 10px;
    }

    /* THANK YOU */

    .results{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        max-width: 500px;
    }

    .results h2{
        background-color: var(--backgroundColor);
        color: white;
        padding: 1rem;
        text-align: center;
    }

    .results table{
        padding: 1rem;
        border-collapse: collapse;
    }

    .results table tr:nth-child(even) {
        background-color: var(--backgroundColor);
        color: white;
        font-weight: bold;
    }

    .results table td{
        padding: 1rem;
    }

    /* THANK YOU */

    /* MAIN JOIN */

    /* FOOTER */

    footer{
        background-color: var(--backgroundColor);
        color: white;
        padding: 1rem;
        text-align: center;
    }

    footer .info_left{
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    footer .socialMedia_images{
        margin-bottom: 2rem;
    }