@media screen and (min-width: 56.25rem){
    :root{
        --backgroundColor: rgb(31, 131, 17);
        --navBackgroundColor: rgba(0, 128, 0, 0.712);
        --titleColor: rgb(255, 255, 255);
        --navElementsColor: rgb(255, 255, 255);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Raleway", serif;
        font-weight: 400;
		margin: 0 auto;
		max-width: 1200px;
    }

    /* HEADER */

    header {
        display: flex;
    }
}