@media screen and (max-width: 56.24rem){

:root{
    --backgroundColor: rgb(31, 131, 17);
    --navBackgroundColor: rgba(0, 128, 0, 0.712);
    --titleColor: rgb(255, 255, 255);
    --navElementsColor: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    display: flex;
    background-color: var(--backgroundColor);
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

header img{
    box-shadow: 5px 5px 15px #000000;
}

header h1{
    color: white;
    font-family: "Raleway", serif;
    font-weight: 700;
    margin-left: 2rem;
    text-align: center;
}

.navigation a {
    display: none;
    background-color: rgb(28, 92, 28);
}

nav.open .navigation a {
    display: block;
    flex-direction: column;
}

nav.open a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.863);
}

.navigation a.active {
    color: white;
    border-bottom: 5px solid white;
}

/* MENU */

#menu {
    font-size: 2.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 0 0 30px 0;
    text-decoration: none;
}

#menu::before {
    content: "☰";
    color: rgb(255, 255, 255);
}

#menu.open::before {
    content: "X";
}

nav.open a {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

/* MAIN */

main{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.courseWork{
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.courseWork h2{
    background-color: var(--backgroundColor);
    color: white;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.courseWork p{
    padding: 1rem;
}

.city { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.city figure { 
    margin: auto; 
    max-width: 100%;
}

.city figure img{ 
    margin-top: .5rem;
}

.city figure figcaption{
    text-align: center;
    padding: .5rem;
}

.city h2{
    width: 100%;
    background-color: var(--backgroundColor);
    color: white;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.certificate{
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.certificate h2{
    background-color: var(--backgroundColor);
    color: white;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.courseButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.courseButtons button{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(28, 92, 28);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 1.4rem;
    border: none;
}

.courses{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    row-gap: 1rem;
}

.courses section{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.cseCourse {
    background-color: var(--backgroundColor);
    color: white;
}

.wddCourse{
    background-color: var(--backgroundColor);
    color: white;
}

.totalCredits{
    background-color: var(--backgroundColor);
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
}

/* MAIN */

footer{
    background-color: var(--backgroundColor);
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

footer p {
    padding: 1rem;
}
}